="Hi #{@participant.name}! Welcome to CeTF, the open CTF by CeSeNA Security."

="Log in to the site #{@login_url}, then solve some challenges (#{@challenges_url}) or edit your profile data (#{@profile_url})."

Happy solving,

CeSeNA Team
